<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Help Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
          crossorigin="anonymous">
    <link th:href="@{/style/style.css}" th:rel="stylesheet">
    <link rel="icon" th:href="@{/img/icon.svg}"  type="image/x-icon">
</head>
<body>

<div class="container">
    <div class="left-side">
        <img class="logo dark-logo" alt="" th:src="@{/img/authentication-logo.png}">
        <form th:action="@{/help/submit}" th:object="${helpMessage}" method="post" class="form-container">
            <input type="email" id="email" th:field="*{email}" class="input" placeholder="E-mail" required autofocus/>
            <input type="text" th:field="*{subject}" class="input" placeholder="Subject" required autofocus/>
            <textarea class="input" rows="5" cols="33" maxlength="1000"
                      th:field="*{description}"
                      placeholder="Describe your problem" required
                      autofocus></textarea>
            <a class="btn-href">
                <button type="submit" class="login-btn">Send</button>
            </a>
            <div class="a-margin-up-bottom">
                <a th:href="@{/login}" class="sign-up-link">
                    <i class="fas fa-arrow-left"></i>
                    <span>Back to Login</span>
                </a>
            </div>
        </form>
    </div>

    <div class="right-side">
        <img th:src="@{/img/spring-authorization-server.png}" alt="Girl Image">
    </div>

</div>

</body>
</html>