<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Authorization Server</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
          crossorigin="anonymous">
    <link th:href="@{/style/style.css}" th:rel="stylesheet">
    <link rel="icon" th:href="@{/img/icon.svg}"  type="image/x-icon">
</head>
<body>

<div class="container">
    <div class="left-side">
        <img class="logo dark-logo" alt="" th:src="@{/img/authentication-logo.png}">
        <div class="form-container form-links">
            <div class="sign-up-container">
                <div class="a-margin-bottom">
                    <a th:href="@{/logout}" th:method="post" class="sign-up-link">
                        <i class="fas fa-power-off"></i>
                        <span>Disconnect</span>
                    </a>
                </div>
                <div class="a-margin-bottom">
                    <a th:href="@{/user}" class="sign-up-link">
                        <i class="fas fa-user"></i>
                        <span>Manage Account</span>
                    </a>
                </div>
                <div class="a-margin-bottom">
                    <form th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
                        <a th:href="@{/admin}" class="sign-up-link">
                            <i class="fas fa-key"></i>
                            <span>Admin Console</span>
                        </a>
                    </form>
                </div>
                <div class="a-margin-up-bottom">
                    <a th:href="@{/login}" class="sign-up-link">
                        <i class="fas fa-arrow-left"></i>
                        <span>Back to Login</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="right-side">
        <img class="right-img" th:src="@{/img/spring-authorization-server.png}" alt="Girl Image">
    </div>

</div>

</body>
</html>