<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Authorization Server</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
          crossorigin="anonymous">
    <link th:href="@{/style/style.css}" th:rel="stylesheet">
    <link rel="icon" th:href="@{/img/icon.svg}"  type="image/x-icon">
</head>

<body>
<div class="container">
    <div class="left-side">
        <img class="logo dark-logo" alt="" th:src="@{/img/authentication-logo.png}">
        <form th:action="@{/login}" method="post" class="form-container">
            <input class="input" type="text" name="username" id="email" placeholder="E-mail" required/>
            <div class="password-container">
                <input class="input password" type="password" name="password" id="passwordNewInput"
                       placeholder="Password" required>
                <div id="eyeIcons">
                    <i class="far fa-eye" id="eyeIcon"
                       th:onclick="'togglePasswordVisibility(\'passwordNewInput\', \'eyeIcon\', \'eyeSlashIcon\')'"
                       aria-hidden="true"></i>
                    <i class="far fa-eye-slash" id="eyeSlashIcon"
                       th:onclick="'togglePasswordVisibility(\'passwordNewInput\', \'eyeIcon\', \'eyeSlashIcon\')'"
                       aria-hidden="true"></i>
                </div>
            </div>
            <div class="checkbox-container">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none"
                     id="checkbox">
                    <path d="M19 0.5H1V18.5H19V0.5Z" fill="white" stroke="#C9C9C9"/>
                    <path d="M5 9L8.5 13L15 6" stroke="rgb(107, 182, 207)" stroke-width="2" id="checkmark" opacity="0"/>
                </svg>
                <label id="label-text">Remember me</label>
            </div>
            <a class="btn-href">
                <button type="submit" name="loginBtn" class="login-btn">Login</button>
            </a>
            <div>
                <p th:if="${param.error}" class="text-danger">
                    [[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</p>
                <p th:if="${param.logout}" class="text-warning">You have been logged out.</p>
            </div>
            <div class="sign-up-container">
                <div class="sign-up-questions">
                    <p class="login-page-question">Don't have an account ?</p>
                    <a class="sign-up-link" th:href="@{/signup}">Sign up here</a>
                </div>
                <div class="sign-up-questions">
                    <p class="login-page-question">Forgot password ?</p>
                    <a class="sign-up-link" th:href="@{/reset/password}">Reset password</a>
                </div>
                <div class="sign-up-questions">
                    <p class="login-page-question">Need help ?</p>
                    <a class="sign-up-link" th:href="@{/help}">Help</a>
                </div>
            </div>
        </form>
    </div>

    <div class="right-side">
        <img class="right-img" th:src="@{/img/spring-authorization-server.png}" alt="Girl Image">
    </div>

</div>

<script defer th:src="@{/js/script.js}" type="text/javascript"></script>
<script defer th:src="@{/js/listener.js}" type="text/javascript"></script>
</body>

</html>


