<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
          crossorigin="anonymous">
    <link th:href="@{/style/style.css}" th:rel="stylesheet">
    <link rel="icon" th:href="@{/img/icon.svg}"  type="image/x-icon">
</head>
<body>

<div class="container-fluid text-center center-form">
    <form th:action="@{/reset/process}" method="post" th:object="${userCode}" class="form-div"
          th:onsubmit="return validateEmail(document.getElementById('email').value);">

        <div class="border border-secondary p-3 rounded form-wrapper">
            <p>
                <input type="hidden" id="email" name="userEmail" th:field="*{userEmail}" required/>
            </p>

            <p>
                <input type="hidden" name="code" th:field="*{code}" required/>
            </p>

            <p>
                <input type="password" name="password" class="form-control" placeholder="Password" required/>
            </p>

            <p>
                <input type="password" name="passwordConfirmed" class="form-control" placeholder="Confirm password"
                       required/>
            </p>
            <p>
                <input type="submit" value="Reset" class="btn btn-light"/>
            </p>
        </div>

    </form>
    <div>
                    <span class="error-message" id="errorMessage" th:if="${errorMessage}" th:utext="${errorMessage}">
                    </span>
    </div>
</div>

<script th:src="@{/js/script.js}" type="text/javascript"></script>
</body>
</html>